#game-board{
    position: relative;
    margin-top: 50px;

}
h1 {
    display: inline-block;
    width: 50%;
    margin: 10px 0;
}
.cell{
    border: solid 1px #000000;
    text-align: center;
    cursor: pointer;
    color: red;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 5px #1b1b26;

}
input#reset {
    display: inline-block;
    border: none;
    padding: 10px 30px;
    background-color: rgb(224, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

input#reset:hover {
    background-color: rgb(143, 0, 0);
}
button#reset2 {
    display: inline-block;
    border: none;
    padding: 10px 30px;
    background-color: rgb(224, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

button#reset2:hover {
    background-color: rgb(143, 0, 0);
}